<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>XAMPP Panel</vendor>
  <action id="io.github.shiron.xampppanel.helper">
    <description>Control XAMPP services and local sites</description>
    <message>Authentication is required to control XAMPP</message>
    <icon_name>io.github.shiron.XamppPanel</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/xampp-panel/bin/xampp-helper</annotate>
  </action>
</policyconfig>
